<div class="footer-wrapper">
    <h3>Take eCommerce to the next level.</h3>
    <div class="column-wrapper">
        <div class="footer-column">
            <span>About Us</span>
            <ul>
                <li><a href="#">Corporate</a></li>
                <li><a href="#">Governance</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <span>Contact Us</span>
            <ul>
                <li><a href="#">email</a></li>
                <li><a href="#">phone</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <span>Resources</span>
            <ul>
                <li><a href="#">Documents</a></li>
                <li><a href="#">Partners</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>